[data-appearance=none] {
  .body-font !important;
  [data-typeset=alternate] & { .alt-body-font-responsive !important; }
  [data-typeset=banner] & { .banner-body-font-responsive !important; }

  color: @main-textColor !important;
  [data-palette=alternate] & { color: @alt-textColor !important; }
  [data-palette=banner] & { color: @banner-textColor !important; }
}

[data-appearance=heading1] {
  .heading1-font !important;
  [data-typeset=alternate] & { .alt-heading1-font-responsive !important; }
  [data-typeset=banner] & { .banner-heading1-font-responsive !important; }

  color: @main-headingColor !important;
  [data-palette=alternate] & { color: @alt-headingColor !important; }
  [data-palette=banner] & { color: @banner-headingColor !important; }
}

[data-appearance=heading2] {
  .heading2-font !important;
  [data-typeset=alternate] & { .alt-heading2-font-responsive !important; }
  [data-typeset=banner] & { .banner-heading2-font-responsive !important; }

  color: @main-headingColor !important;
  [data-palette=alternate] & { color: @alt-headingColor !important; }
  [data-palette=banner] & { color: @banner-headingColor !important; }
}

[data-appearance=meta] {
  .heading3-font !important;
  [data-typeset=alternate] & { .alt-heading3-font !important; }
  [data-typeset=banner] & { .banner-heading3-font !important; }

  color: @main-metaColor !important;
  [data-palette=alternate] & { color: @alt-metaColor !important; }
  [data-palette=banner] & { color: @banner-metaColor !important; }
}

[data-appearance=link-arrow] {
}

[data-appearance=link-underline] {
  border-bottom: 1px solid @main-linkColor !important;
  [data-palette=alternate] & { border-bottom: 1px solid @alt-linkColor !important; }
  [data-palette=banner] & { border-bottom: 1px solid @banner-linkColor !important; }
}

[data-appearance*=button] {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  .transition2(background-color 0.1s 0.0s ease-in-out, color 0.1s 0.0s ease-in-out);

  .button-font !important;
  [data-typeset=alternate] & { .alt-button-font !important; }
  [data-typeset=banner] & { .banner-button-font !important; }
}

[data-appearance=button-solid] {
  .colors(@linkColor, @bgColor) {
    .background-color(@linkColor);    
    color: @bgColor;
    &:hover {
      background-color: fade(@linkColor, 80%);
    }
  }    
  .colors(@main-linkColor, @main-bgColor) !important;
  [data-palette=alternate] & { .colors(@alt-linkColor, @alt-bgColor) !important; }
  [data-palette=banner] & { .colors(@banner-linkColor, @banner-bgColor) !important; }
}

[data-appearance=button-outline] {
  .colors(@linkColor, @bgColor) {
    background-color: transparent;
    .font-smoothing(@bgColor);
    border: 2px solid @linkColor;
    color: @linkColor;
    &:hover {
      background-color: @linkColor;
      color: @bgColor;
    }
  }

  .colors(@main-linkColor, @main-bgColor);
  [data-palette=alternate] &  {  .colors(@alt-linkColor, @alt-bgColor) }
  [data-palette=banner] &  {  .colors(@banner-linkColor, @banner-bgColor) }
}


[data-appearance=button-overlay] {
  .colors(@linkColor, @bgColor) {
    background-color: fade(@bgColor,10%);
    color: @linkColor;
    box-shadow: inset 0 0 0 1px fade(@bgColor, 8%);
    border-radius: 60rem;

    &:hover {
      background-color: fade(@bgColor,15%);
    }
  }
  .colors(@main-linkColor, @main-bgColor);
  [data-palette=alternate] &  {  .colors(@alt-linkColor, @alt-bgColor); }
  [data-palette=banner] &  {  .colors(@banner-linkColor, @banner-bgColor); }
}

[data-appearance=button-rounded] {
  border-radius: 3px;
}

[data-appearance=button-pill] {
  border-radius: 300px;
}

[data-font-effect=dash] {
  position: relative;
  margin-bottom: 2rem !important;

  &:after {
    content: '';
    display: block;
    position: absolute;

    left: 0;
    bottom: -1rem;
    height: 1px;
    width: 2rem;

    background-color:  @main-headingColor;
    [data-palette=alternate] &  {  background-color:  @alt-headingColor; }
    [data-palette=banner] &  {  background-color:  @banner-headingColor; }
  }

  [data-align~=center] &, &.text-align-center {
    &:after {
      left: 50%;
      margin-left: -1rem;
    }
  }

  [data-align~=right] &, &.text-align-right {
    &:after {
      right: 0;
    }
  }
}

[data-font-effect=highlight] {
  display: inline;

  .colors(@bgColor) {
    .background-color(@bgColor);
    position: relative;
    left: 10px;
    box-shadow: 5px 0 0 5px @bgColor, -5px 0 0 5px @bgColor;      
    .prefix("box-decoration-break", "clone");
  }
  
  .colors(@main-bgColor);
  [data-palette=alternate] & { .colors(@alt-bgColor) }
  [data-palette=banner] & { .colors(@banner-bgColor) }
}
