// tweak: { category: "Banner", title: "Banner - Palette", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Alternate", js: true }
// tweak: { category: "Banner", title: "Banner - Typeset", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Alternate", js: true }
// tweak: { category: "Banner", title: "Banner  Content - Layout", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Main", js: true }

// tweak: { category: "Banner", title: "Banner - Display", type: "dropdown", options: ["Hide", "Show"], default: "Show", js: true }

// tweak: { category: "Banner", title: "Banner - Background Overlay", type: "dropdown", options: ["None","Image","Description"], default: "Image", js: true }

// tweak: { category: "Banner", title: "Banner  Description - Display", type: "dropdown", options: ["Hide", "Show", "Overlaid"], default: "Overlaid", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Layout", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Main", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Title", type: "dropdown", options: ["Show","Hide"], default: "Show", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Position", type: "dropdown", options: ["Center","Left","Right","Top Left","Top Right","Bottom Left","Bottom Right"], default: "Center", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Italic", type: "dropdown", options: ["Normal", "Dash"], default: "Dash", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Button", type: "dropdown", options: ["Solid", "Outline", "Overlay"], default: "Outline", js: true }
// tweak: { category: "Banner", title: "Banner  Description - Button Corner", type: "dropdown", options: ["Square", "Rounded", "Pill"], default: "Rounded", js: true }

.banner {  
  position: relative;
  overflow: hidden;
  &.has-image {
    /*min-height: 320px;  */

    > figure {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

      width: 100%;
      margin: 0;
      a {
        display: block;
      }

    }

  }

  .content-inner {
    position: relative;
    z-index: 1;

    .sqs-layout {
      position: relative;
      z-index: 1;

      .sqs-block:last-child {
        padding-bottom: 0 !important;
      }

    }
  }

}

.background-overlay() {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: fade(@banner-bgColor,60%);
}

[data-background-overlay=image] {
  .banner > figure, .banner .sqs-block-image {
    &:after {
      .background-overlay;
    }
  }
}    

[data-background-overlay=description] {
  .banner .meta:after {
    .background-overlay;
  }
}    



