.banner {  
  position: relative;
  overflow: hidden;

  [data-typeset=main] & .description .title { .meta-font }
  [data-typeset=alternate] & .description .title { .alt-meta-font }
  [data-typeset=banner] & .description .title { .banner-meta-font }

  [data-palette=main] & .description .title { color: @main-metaColor; }
  [data-palette=alternate] & .description .title { color: @alt-metaColor; }
  [data-palette=banner] & .description .title { color: @banner-metaColor; }

  &.has-image {
    /*min-height: 320px;  */

    > figure {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

      width: 100%;
      margin: 0;
      a {
        display: block;
      }

    }

  }

  .blocks {
    position: relative;
    z-index: 1;

    .sqs-block:last-child {
      padding-bottom: 0 !important;
    }

  }

  .description:not([data-display*=overlaid]) {
    position: relative;
    z-index: 1;
  }

}

[data-overlay=image] {
  .banner > figure, .banner .sqs-block-image {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      [data-palette=banner] & { background-color: fade(@banner-bgColor,60%) }
      [data-palette=main] & { background-color: fade(@main-bgColor,60%) }
      [data-palette=alternate] & { background-color: fade(@alt-bgColor,60%) }
    }
  }
}    
