
.banner {  
  position: relative;
  &.has-image {
    > figure {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: 100%;
      margin: 0;
      a {
        display: block;
      }
    }
  }

  .content {
    &:not([data-layout-width=main]):not(data-layout-spacing) {
      #site & .sqs-block:first-child {
        padding-top: 0;
      } 
      #site & .sqs-block:last-child {
        padding-bottom: 0;
      }
    }
  }
}
