/** Generic layouts **/
.content-description {
  z-index: 100;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  text-rendering: optimizeLegibility;

  p {
    margin: 1rem auto;
  }

  p > strong,
  p > em > strong {
    display: block;
    margin: 0;
	}

  p a {
    color: @pageLinkColor;
    border-bottom: 1px solid @pageLinkColor;
  }

  p:last-child > a:first-child {
    .border-box;
    display: inline-block;
    /** Default font values **/
    padding: 1rem 1.75rem;
    margin: 1rem 0;

    .button-font;
    .background-color(@pageLinkColor);    
    color: @pageBgColor;
  }
  p:last-child > a + a { margin-left: 1rem; }
  p:empty {
    display: none;
  }

  /** Different layout options **/
  p > em {
    position: relative;
    margin-bottom: 2rem;

    &:after {
      content: '';
      display: block;
      position: absolute;

      left: 0;
      bottom: -1rem;
      height: 3px;
      width: 2rem;

      background-color: @pageMetaColor;
    }
  }

  @textColor: @pageTextColor;
  @overlayColor: @textColor;

  &.button-style-outline > p:last-child > a:first-child {

    background-color: transparent;
    .font-smoothing(@overlayColor);
    border: 2px solid @textColor !important;
    color: @textColor;
    &:hover {
      background-color: @textColor;
      color: @pageBgColor;
    }

  }

  &.button-style-overlay > p:last-child > a:first-child {
    background-color: fade(@textColor,10%);
    .font-smoothing(@overlayColor);
    color: @textColor;
    box-shadow: inset 0 0 0 1px fade(@textColor, 8%);
    border-radius: 60rem;

    &:hover {
      background-color: fade(@textColor,15%);
    }
  }

  &.button-style-raised > p:last-child > a:first-child {
    box-shadow: 0px 0.2em 0px 0px darken(@textColor,8%);
    &:hover {
      background-color: lighten(@textColor,3%);
    }
  }

  &.button-corner-style-rounded > p:last-child > a:first-child {
    border-radius: 3px;
  }

  &.button-corner-style-pill > p:last-child > a:first-child {
    border-radius: 300px;
  }

}

[data-description=center] .content-description {
  p > em:after {
    left: 50%;
    margin-left: -1rem;
  }    
}

[data-description=right] .content-description {
  p > em:after {
    right: 0;
  }    
}

/*[data-layout=main] .content-description {
  width: @mainMetaWidth;
  max-width: 100%;
}

[data-layout=banner] .content-description {
  width: @bannerMetaWidth;
  max-width: 100%;
}

[data-layout=alternate] .content-description {
  width: @altMetaWidth;
  max-width: 100%;
}
*/
[data-overlay=description] {
  &[data-palette=banner] .content-description {
    background-color: fade(@p1-bgColor,60%);
    padding: 5%;
  }

  &[data-palette=alternate] .content-description {
    background-color: fade(@p2-bgColor,60%);
    padding: 5%;
  }

  &[data-palette=main] .content-description {
    background-color: fade(@pageBgColor,60%);
    padding: 5%;
  }

}

[data-typeset=alternate] {
  .content-description > p {
    .alt-body-font-responsive;

    > strong,
    > em > strong {
      .alt-heading1-font-responsive;
    }
  }  
}

[data-typeset=banner] {
  .content-description > p {
    .banner-body-font-responsive;

    > strong,
    > em > strong {
      .banner-heading1-font-responsive;
    }

    &:last-child > a:first-child {    
      .banner-button-font;
    }
  }  
}

[data-palette=alternate] .content-description > p {
  > strong,
  > em > strong {
    color: @p1-headingColor;
  }

  &:last-child > a:first-child {
    .background-color(@p1-linkColor);
    color: @p1-bgColor;
    border: none;
    .transition2(background-color 0.1s 0.0s ease-in-out, color 0.1s 0.0s ease-in-out);
    &:hover {
      background-color: fade(@p1-linkColor, 80%);
    }

  }

  > em {
    color: @p1-metaColor;
  }    

  &:first-child:after {
     background-color: @p1-metaColor;     
  }
}

[data-palette=banner] .content-description > p {
  > strong,
  > em > strong {
    color: @p2-headingColor;
  }

  &:last-child > a:first-child {
    .background-color(@p2-linkColor);
    color: @p2-bgColor;
    border: none;
    .transition2(background-color 0.1s 0.0s ease-in-out, color 0.1s 0.0s ease-in-out);
    &:hover {
      background-color: fade(@p2-linkColor, 80%);
    }

  }

  > em {
    color: @p2-metaColor;
  }    

  &:first-child:after {
     background-color: @p2-metaColor;     
  }
}


