.sqs-ss-badge[data-position="bottom-right"] {
    right: 5%;
    bottom: ~"calc(5% + 15px)";

    .transition(none);
}


.site-phone,
.site-email{
  white-space:nowrap;
}
.site-address + .site-phone,
.site-address + .site-email,
.site-phone + .site-email{
  margin-left:1em;
}

#footerBlocks:not(.empty){
  margin-top:1.5em;
}