// tweak: { title: "Footer - Typeset", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer  Navigation - Align", options: ["Left", "Right", "Center", "Space Around", "Space Between"], default: "Center", category: "Footer", type: "dropdown", js:true }


.sqs-ss-badge[data-position="bottom-right"] {
  right: @mainSpacing;
  bottom: @mainSpacing;
}

.sqs-ss-badge[data-position="bottom-left"] {
	left: @mainSpacing;
	bottom: @mainSpacing;
}


.site-phone,
.site-email{
  white-space:nowrap;
}
.site-address + .site-phone,
.site-address + .site-email,
.site-phone + .site-email{
  margin-left:1em;
}

#footerBlocks:not(.empty){
  margin-top:1.5em;
}

.page-footer {
	.banner;
}