.gallery-scroll-container {

	position: relative;

	.sticky-container {
		.viewport-center;
		position: absolute;
		top: 0;
		left: 0;
		width: ~"calc(100% - @{mainMetaWidth})";

		@media screen and (max-width: 640px) {
			width: 100%;
			height: 75vh;
		}
	}

	.sqs-gallery {
		height: 100%;
	}
	
	.gallery-meta {
		width: @mainMetaWidth;
		margin-left: auto;
		padding-left: @mainSpacingSide;
		.border-box;

		@media screen and (max-width: 640px) {
			width: 100%;
			padding-top: 75vh;
			margin-left: 0;
		}

		.meta {
			padding-top: 50vh;
			&:last-child {
				padding-bottom: 50vh;
			}
			
			.transition(opacity 0.4s);
			opacity: 0;
			&.active {
				opacity: 1;
			}

			@media screen and (max-width: 640px) {
				opacity: 1; /* Always show */
			}
		}
	}
}

