.reset-styles() {
	[data-type=block-field] & {
		> :first-child {
			max-width: none !important;
			> :first-child {
				padding-bottom: 0 !important;
			}
		}
	}
}

[data-intrinsic=half] {
	padding-bottom: 50%;

	position: relative;
	> :first-child {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

[data-intrinsic=desktop] {
	max-width: 100vh;
	margin: auto;

	> :first-child {
		background-image: url(/assets/desktop.png);		
	  background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		padding-bottom: 75%; 

		position: relative;
		> :first-child {
			position: absolute;
			overflow: hidden;
			top: 10.4%;
	    left: 8.6%;
	    width: 82.9%;
	    height: 65.7%;    	
		}
	}
}

[data-intrinsic=phone] {
	max-width: 50vh;
	margin: auto;

	> :first-child {
		background-image: url(/assets/phone.png);		
	  background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		padding-bottom: 188%; 

		position: relative;
		> :first-child {
			position: absolute;
			overflow: hidden;
	    top: 15.5%;
	    bottom: 15.5%;
	    left: 5%;
	    right: 4.5%;
		}
	}

	.reset-styles;
}

[data-intrinsic=tablet] {
	max-width: 60vh;
	margin: auto;

	> :first-child {
		background-image: url(/assets/tablet.png);		
	  background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		padding-bottom: 140%; 

		position: relative;
		> :first-child {
			position: absolute;
			overflow: hidden;
	    top: 22.2%;
	    bottom: 22.8%;
	    left: 21%;
	    right: 21%;
		}
	}

	.reset-styles;
}
