.gallery-shape-half {
	.gallery-aspect-ratio {
		padding-bottom: 50%;
		position: relative;
		
		.sqs-gallery {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.gallery-background-cinema {
	.gallery-background {
		background-image: url(/assets/white-devices-noscreen-cinema.webp);		
    background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		padding-bottom: 75%; 

		position: relative;
		.gallery-aspect-ratio {
			top: 10.4%;
	    left: 8.6%;
	    width: 82.9%;
	    height: 65.7%;    	

  		position: absolute;
  		overflow: hidden;
  		.sqs-gallery {
  			height: 100%;
  		}
  	}
	}
}

