.gallery-scroll {
	position: relative;
	margin-top: 5em;

	/*.gallery-shape-half;*/
	.gallery-background-cinema;

	.gallery-container {
		position: absolute;
		height: ~"calc(100vh - @{mainSpacingTop} - @{mainSpacingTop})";
		top: @mainSpacingTop;
		left: @mainSpacingSide;
		right: @mainSpacingSide + @mainMetaWidth + @mainSpacingSide;
	}

	aside {
		width: @mainMetaWidth;
		margin-left: auto;
		padding-left: @mainSpacingSide;

		.meta {
			padding-top: 50vh;

			&:first-child {
				padding-top: 20vh;
			}

			.transition(opacity 0.4s);
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}
}

