//OFF tweak: { "type" : "color", "title" : "Header Background Color", "category" : "Site Header", "target" : "body:not(.has-banner-image) #header" }
@headerBgColor: @pageBgColor;


//OFF tweak: { "type" : "value", "title" : "Logo Container Width", "min" : 50, "max" : 500, "step" : 5, "category" : "Site Header", "target" : "#logoImage", "showOnlyWhenPresent" : "#logoImage", "js": "true" }
@logoContainerWidth: 150px;

//OFF tweak: { "type" : "value", "title" : "Site Title Container Width", "min" : 50, "max" : 500, "step" : 5, "category" : "Site Header", "target" : "#siteTitle", "showOnlyWhenPresent" : "#siteTitle", "js": "true" }
@siteTitleContainerWidth: 255px;


@headerVertPadding: 20px;

.header {
  padding: @headerVertPadding @sitePadding;
  .border-box;
  
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1em;
  .background-color(@headerBgColor);
  position: relative;
  a {
    text-decoration: none;
  }
  #siteTitle {
    position: relative;
    z-index: 1000;
  }

  .header-inner {
    width: auto;
    margin: auto;
    .border-box;
    padding: @headerVertPadding 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > #headerNav {
      width: 100%;
    }
  }

}

/*@media only screen and (min-width: 641px) {*/
.header {

    #logoWrapper,
    #siteTitleWrapper,
    #headerNav {
      .border-box;
    }

    #logoWrapper,
    #logoImage {
      max-width: @logoContainerWidth;
    }
    #siteTitleWrapper,
    #siteTitle {
      max-width: @siteTitleContainerWidth;
    }

    &.tweaking{
      #logoWrapper,
      #siteTitleWrapper,
      #mainNavWrapper {
        border:1px solid #14aaff;
      }
    }

  }
/*}*/

#logoImage {
  margin: 0;
  font-size: 0;
  max-width: 100%;

  a { display: block; }
  img {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
  }
}

#siteTitle,
#siteTitle a {
  .site-title-font;
  color: @siteTitleColor;
  border-color: @siteTitleColor;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}


[data-palette="1"] .header {
  .background-color(@p1-bgColor);
  #siteTitle a { 
    color: @p1-textColor; 
    border-color: @p1-textColor; 
  }
}
[data-palette="2"] .header {
  .background-color(@p2-bgColor);
  #siteTitle a { 
    color: @p2-textColor; 
    border-color: @p2-textColor; 
  }
}
[data-palette="3"] .header {
  .background-color(@p3-bgColor);
  #siteTitle a { 
    color: @p3-textColor; 
    border-color: @p3-textColor; 
  }
}

[data-behavior="transparent"] .header {
  /*position: absolute;*/
  background-color: transparent;
  padding-bottom: 0;
}

[data-header-title="boxed"] .header #siteTitle a {
  border: 3px solid;
  padding: 2px 4px;  
}



