// tweak: { category: "Header", label: "Palette", default: "Alternate", options: ["Main", "Banner", "Alternate"], title: "header---palette", target: "#header", type: "dropdown", js:true }
// tweak: { category: "Header", label: "Direction", default: "", options: ["", "Reverse"], title: "header---direction", target: "#header", type: "dropdown", js:true }
// tweak: { category: "Header", label: "Navigation Display", default: "Always", options: ["Always", "Hide", "Auto"], title: "header--main-nav---display", target: "#header .main-nav, #header .slidebar", type: "dropdown", js:true }
// tweak: { category: "Header", label: "Navigation Align", default: "Center", options: ["Left", "Right", "Center", "Space Around", "Space Between"], title: "header--navigation---align", target: "#header .main-nav", showOnlyWhenPresent: "body:not(.header--main-nav---display-hide)", type: "dropdown", js:true }
// tweak: { category: "Header", label: "Navigation Active", default: "Contrast", options: ["None", "Contrast", "Underline"], title:"header--navigation---active", target: "#header .main-nav", showOnlyWhenPresent: "body:not(.header--main-nav---display-hide)", type: "dropdown", js:true }

//tweak: { category : "Header", label: "Logo / Title Width", min : 50, max : 500, step : 5, title: "Logo Container Width", target : "#header .site-logo", type : "value", js: "true" }
@logoContainerWidth: 150px;

// tweak: { category: "Header", label : "Alternate Logo", title: "alt-logo-image", target: "#header .site-logo", showOnlyWhenPresent: "#header .site-logo img", type : "image" }
.alt-logo-image {
  background-image: none;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
// tweak: { category: "Header", label: "Show Alternate Logo", default: "", options: ["", "Main", "Banner", "Alternate"], title: "header---alternate-logo", target: "#header .site-logo", showOnlyWhenPresent: "#header .site-logo img", type: "dropdown", js:true }


.header {
  a {
    text-decoration: none;
  }

  .main-nav {
    width: 100%;
  }

  .site-logo {
    max-width: @logoContainerWidth;
    a {
      .site-title-font;
      display: inline-block;
    }
    img {
      height: auto;
      width: auto;
      max-height: 100px;
      max-width: 100%;
    }

    [data-alternate-logo=main][data-palette=main] &,
    [data-alternate-logo=banner][data-palette=banner] &,
    [data-alternate-logo=alternate][data-palette=alternate] & {
      position: relative;
      img { visibility: hidden; }
      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        .alt-logo-image;
      }
    }
  }

  .main-nav[data-display=auto] {
    ~ .slidebar { display: none; }
    @media only screen and (max-width: 640px) {
      display: none;
      ~ .slidebar { display: block; }
    }
  }

  .block:not([data-display=hide]) {
    padding-left: 1.5em;
  }
  [data-direction=reverse] & {
    flex-direction: row-reverse;
  }  
}



