// tweak: { title: "Header - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Display", options: ["", "Overlaid"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Sticky", options: ["", "Within Site", "After Banner" ], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Direction", options: ["", "Reverse"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Block - Display", options: ["", "Hide"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Slidebar - Display", options: ["", "Hide"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Display", options: ["", "Hide", "Auto"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Align", options: ["Left", "Right", "Center", "Space Around", "Space Between"], default: "Right", showOnlyWhenPresent: "body:not(.header--nav---display-hide)", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Active", options: ["None", "Contrast", "Underline"], default: "Contrast", showOnlyWhenPresent: "body:not(.header--nav---display-hide)", category: "Header", type: "dropdown", js:true }



//tweak: { "type" : "value", "title" : "Logo Container Width", "min" : 50, "max" : 500, "step" : 5, "category" : "Header", "target" : "#logoImage", "showOnlyWhenPresent" : "#logoImage", "js": "true" }
@logoContainerWidth: 150px;

//tweak: { "type" : "value", "title" : "Title Container Width", "min" : 50, "max" : 500, "step" : 5, "category" : "Header", "target" : "#siteTitle", "showOnlyWhenPresent" : "#siteTitle", "js": "true" }
@siteTitleContainerWidth: 255px;


.header {
  a {
    text-decoration: none;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    width: 100%;
  }

  .site-title {
    max-width: @siteTitleContainerWidth;
    a {
      .site-title-font;
      display: inline-block;
      white-space: nowrap;
    }
  }
  .site-logo {
    max-width: @logoContainerWidth;
    a {
      display: block;
    }
    img {
      height: auto;
      width: auto;
      max-height: 100px;
      max-width: 100%;
    }
  }

  .nav[data-display=auto] {
    ~ .slidebar { display: none; }
    @media only screen and (max-width: 640px) {
      display: none;
      ~ .slidebar { display: block; }
    }
  }

  .block:not([data-display=hide]) {
    padding-left: 1.5em;
  }
  [data-direction=reverse] & {
    flex-direction: row-reverse;
  }  
}



