[data-region="delta"] {
	#gallery .gallery-wrapper { 
		min-height: 66vw !important; 
		.slides-controls { 
			height: 66vw !important;
		}

		~ .gallery-nav {
	    position: absolute;
	    bottom: 0;
	    z-index: 999;
	    width: 100%;			
		}
	}
}