//OFF tweak: { target: "#header", properties: ["data-palette=banner"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#header .content", properties: ["data-layout-width=main","data-layout-spacing=fixed-flexible"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }

//OFF tweak: { target: "#banner", properties: ["data-display=overlaid"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#banner .blocks", properties: ["data-typeset=banner"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#banner .blocks .content", properties: ["data-layout-width=main"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#banner .blocks .html-block h1, #banner .blocks .html-block h2, #banner .blocks .html-block p ", properties: ["data-font-effect=highlight"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#banner .description", properties: ["data-display=hide"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#gallery", properties: ["data-palette=banner"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }
//OFF tweak: { target: "#page-footer .content", properties: ["data-layout-width=main"], showOnlyWhenPresent: "body.collection-layout-delta", recipe: true }


.collection-layout-delta {
	#gallery .gallery-container { 
		overflow: hidden;
/*		min-height: 50vw !important; 
		.slides-controls { 
			height: 50vw !important;
		}

		~ .gallery-nav {
	    position: absolute;
	    bottom: 0;
	    z-index: 999;
	    width: 100%;			
		}
*/	}
}
