.meta-description {
  p {
    margin: 1rem auto;
  
    [data-typeset=main] & { .body-font }
    [data-typeset=alternate] & { .alt-body-font-responsive }
    [data-typeset=banner] & { .banner-body-font-responsive }
  }

  p > strong,
  p > em > strong {
    display: block;
    margin: 0;

    [data-palette=main] & { color: @main-headingColor; }
    [data-palette=alternate] & { color: @alt-headingColor; }
    [data-palette=banner] & { color: @banner-headingColor; }

    [data-typeset=main] & { .heading1-font }
    [data-typeset=alternate] & { .alt-heading1-font-responsive }
    [data-typeset=banner] & { .banner-heading1-font-responsive }
	}

  p a {
    .colors(@linkColor) {
      color: @linkColor;
      border-bottom: 1px solid @linkColor;
    }

    [data-palette=main] & { .colors(@main-linkColor) }
    [data-palette=alternate] & { .colors(@alt-linkColor) }
    [data-palette=banner] & { .colors(@banner-linkColor) }
  }

  p:last-child > a:first-child {
    .border-box;
    display: inline-block;
    /** Default font values **/
    padding: 1rem 1.75rem;
    margin: 1rem 0;

    [data-typeset=main] & { .button-font }
    [data-typeset=alternate] & { .alt-button-font }
    [data-typeset=banner] & { .banner-button-font }

    border: none;
    .transition2(background-color 0.1s 0.0s ease-in-out, color 0.1s 0.0s ease-in-out);

    .colors(@linkColor, @bgColor) {
      .background-color(@linkColor);    
      color: @bgColor;
      &:hover {
        background-color: fade(@linkColor, 80%);
      }
    }    
    [data-palette=main] & { .colors(@main-linkColor, @main-bgColor) }
    [data-palette=alternate] & { .colors(@alt-linkColor, @alt-bgColor) }
    [data-palette=banner] & { .colors(@banner-linkColor, @banner-bgColor) }
  }

  p:last-child > a + a { margin-left: 1rem; }
  p:empty {
    display: none;
  }

  .meta-title {
    [data-title=hide] & {
      display: none;
    }
  }
}

[data-italic=dash] {
  .meta-description > p > em {
    position: relative;
    margin-bottom: 2rem;
    display: inline-block;

    &:after {
      content: '';
      display: block;
      position: absolute;

      left: 0;
      bottom: -1rem;
      height: 3px;
      width: 2rem;
    }
  }

  .colors(@metaColor) {
    .meta-description > p > em:after {
      background-color: @metaColor;
    }
  };

  [data-palette="main"] &, &[data-palette="main"]  { .colors(@main-metaColor) }
  [data-palette="banner"] &, &[data-palette="banner"]  { .colors(@banner-metaColor) }
  [data-palette="alternate"] &, &[data-palette="alternate"]  { .colors(@alt-metaColor) }

  [data-position~=center] &, &[data-position~=center] {
    .meta-description > p > em:after {
      left: 50%;
      margin-left: -1rem;
    }    
  }

  [data-position~=right] &, &[data-position~=right] {
    .meta-description > p > em:after {
      right: 0;
    }    
  }
}

[data-italic=meta] {
  .meta-description > p > em {
    font-style: normal;
    
    [data-palette=main] & { color: @main-metaColor; }
    [data-palette=alternate] & { color: @alt-metaColor; }
    [data-palette=banner] & { color: @banner-metaColor; }
  }    
}

[data-overlay=description] .meta-inside {

  padding: 5%;

  .colors(@bgColor) {
    background-color: fade(@bgColor,60%);
  }

  [data-palette=banner] & { .colors(@banner-bgColor) }
  [data-palette=main] & { .colors(@main-bgColor) }
  [data-palette=alternate] & { .colors(@alt-bgColor) }
}


.button-outline(@textColor, @bgColor) {
  .meta-description > p:last-child > a:first-child {
    background-color: transparent;
    .font-smoothing(@bgColor);
    border: 2px solid @textColor !important;
    color: @textColor;
    &:hover {
      background-color: @textColor;
      color: @bgColor;
    }
  }
}

[data-button=outline] {
  &[data-palette="main"], [data-palette="main"] &  {  .button-outline(@main-textColor, @main-bgColor); }
  &[data-palette="banner"], [data-palette="banner"] &  {  .button-outline(@banner-textColor, @banner-bgColor); }
  &[data-palette="alternate"], [data-palette="alternate"] &  {  .button-outline(@alt-textColor, @alt-bgColor); }
}


.button-overlay(@textColor, @bgColor) {
  .meta-description > p:last-child > a:first-child {

    background-color: fade(@main-textColor,10%);
    .font-smoothing(@main-bgColor);
    color: @main-textColor;
    box-shadow: inset 0 0 0 1px fade(@main-textColor, 8%);
    border-radius: 60rem;

    &:hover {
      background-color: fade(@main-textColor,15%);
    }
  }
}

[data-button=overlay] {
  &[data-palette="main"], [data-palette="main"] &  {  .button-overlay(@main-textColor, @main-bgColor); }
  &[data-palette="banner"], [data-palette="banner"] &  {  .button-overlay(@banner-textColor, @banner-bgColor); }
  &[data-palette="alternate"], [data-palette="alternate"] &  {  .button-overlay(@alt-textColor, @alt-bgColor); }
}

[data-button-corner="rounded"] {
  .meta-description > p:last-child > a:first-child { border-radius: 3px; }
}

[data-button-corner="pill"] {
  .meta-description > p:last-child > a:first-child { border-radius: 300px; }
}

/** Also support meta positioning **/
.meta {

  &[data-position] { text-align: center !important; } /*default */ 
  &[data-position*=left] { text-align: left !important; }
  &[data-position*=right] { text-align: right !important; }

  .absolute-overlay() {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 890; /* Above galleries */

    height: auto;
    display: flex;
  }

  &[data-display=overlaid] {
    .absolute-overlay !important;

    align-items: center; /* default */
    justify-content: center;    

    &[data-position*=left] { justify-content: flex-start; }
    &[data-position*=right] { justify-content: flex-end; }
    &[data-position*=top] { align-items: flex-start; }
    &[data-position*=bottom] { align-items: flex-end; }
  }

  .layout(@metaWidth) {
    .meta-inside { 
      width: @metaWidth; 
      max-width: 100%; 
      margin: auto;
    }
  }

  [data-layout=main] &, &[data-layout=main] { .layout(@mainMetaWidth) }
  [data-layout=alternate] &, &[data-layout=alternate] { .layout(@altMetaWidth) }
  [data-layout=banner] &, &[data-layout=banner] { .layout(@bannerMetaWidth) }
}