
.navigation {

  > div {
    padding: 0 0.75em;

    @media (max-width: 600px) {
      padding: 0 0.5em;
    }

    a, label {
      display: inline-block;
      .nav-font;
      .transition(color 0.1s 0s ease-in-out);

      color: @main-textColor;
      [data-palette=banner] & { color: @banner-textColor; }
      [data-palette=alternate] & { color: @alt-textColor; }
    }
  }

  .folder-toggle-label {
    cursor: pointer;
  }  

  .folder {
    .subnav {
      text-align: left;
      padding: 1em 0;
      /*display: inline-block;*/
      font-size: @nav-font-font-size;
      .border-box;
      white-space: nowrap;
    }
  }
}

[data-align] .navigation {
  display: flex;
  flex-wrap: wrap;
}

[data-align=space-around] .navigation { justify-content: space-around; }

[data-align=center] .navigation {  justify-content: center; }

[data-align=left] .navigation {
  justify-content: flex-start;

  > div {
    &:first-child {
      padding-left: 0;
    }  
  }
}

[data-align=right] .navigation {
  justify-content: flex-end;

  > div {
    &:last-child {
      padding-right: 0;
    }
  }    
}

[data-align=space-between] .navigation {
  justify-content: space-between;

  > div {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }  
}

[data-background=translucent] {
  [data-folder*=drop] .folder .subnav { .background-color(fade(@main-bgColor,60%)) }
  &[data-palette=alternate] [data-folder*=drop] .folder .subnav { .background-color(fade(@alt-bgColor,60%)) }
  &[data-palette=banner] [data-folder*=drop] .folder .subnav { .background-color(fade(@banner-bgColor,60%)) }
}

[data-background=transparent] {
  [data-folder*=drop] .folder .subnav { background: transparent; }
}

[data-folder=dropdown] .navigation {
  .folder {
    position: relative;
    .subnav {
      position: absolute;
      top: 100%;
      left: -1em;
      z-index: 1000;

      background-color: @main-bgColor;
      [data-palette=alternate] & { background-color: @alt-bgColor }
      [data-palette=banner] & { background-color: @banner-bgColor }

      .scale(1, 0);
      .transform-origin(0, 0);
      .transition(transform 0.14s 0s ease-in-out);
      > div {
        opacity: 0;
        .transition(opacity 0.05s 0.0s ease-in-out);
        a {
          display: block;
          padding: 0.5em 1.5em;
          .transform(translatez(0));
        }
      }
    }
    &:hover {
      .subnav {
        .scale(1, 1);
        > div {
          opacity: 1;
          .transition(opacity 0.14s 0.14s ease-in-out);
        }
      }
    }  
  }

  // Folders on mobile
  html.touch-styles & {
    .folder-toggle-label ~ .subnav {
      height: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 1.5em 0;
      position: absolute;
      text-align: left;
      left: 0;
      > div {
        padding: 1em 0 0;
      }
    }
    .folder-toggle-box:checked ~ .subnav {
      height: auto;
      max-height: 999px;
      padding: 0 1em 1em;
    }
    .folder:last-child .subnav {
      text-align: right;
      right: -1em;
      left: auto;
    }    
  }
}


[data-folder=dropup] .navigation {
  .folder {
    position: relative;
    .subnav {
      position: absolute;
      bottom: 100%;
      left: -1em;
      z-index: 1000;

      background-color: @main-bgColor;
      [data-palette=alternate] & { background-color: @alt-bgColor }
      [data-palette=banner] & { background-color: @banner-bgColor }

      .scale(1, 0);
      .transform-origin(bottom);
      .transition(transform 0.14s 0s ease-in-out);
      > div {
        opacity: 0;
        .transition(opacity 0.05s 0.0s ease-in-out);
        a {
          display: block;
          padding: 0.5em 1.5em;
          .transform(translatez(0));
        }
      }
    }
    &:hover {
      .subnav {
        .scale(1, 1);
        > div {
          opacity: 1;
          .transition(opacity 0.14s 0.14s ease-in-out);
        }
      }
    }  
  }  
}

[data-folder=visible] .navigation {
  .folder {
    margin-bottom: 1em;
  }
}

[data-folder-label=invisible] .navigation {
  .folder label {
    visibility: hidden;
  }
}

[data-folder-label=underline] .navigation {
  .subnav:before {
    content: '';
    display: block;
    position: absolute;

    left: 0.75em;
    right: 0.75em;
    top: 0.5em;
    height: 1px;

    background-color: @main-metaColor;
    [data-palette=alternate] & { background-color: @alt-metaColor }
    [data-palette=banner] & { background-color: @banner-metaColor }
  }
}

[data-active=contrast] .navigation {
  .colors(@textColor) {
    a:hover, .active > a, .active > label {
      color: darken(@textColor, 30%);
    }
  }
  .colors(@main-textColor);
  [data-palette=alternate] & { .colors(@alt-textColor) }
  [data-palette=banner] & { .colors(@banner-textColor) }
}

[data-active=underline] .navigation {
  .colors(@textColor) {
    .active > a, .active > label {
      border-bottom: 1px solid @textColor;
    }
  }
  .colors(@main-textColor);
  [data-palette=alternate] & { .colors(@alt-textColor) }
  [data-palette=banner] & { .colors(@banner-textColor) }
}

