// tweak: { category: "Page Footer", label: "Typography", default: "Main", options: ["Main", "Banner", "Alternate"], title: "page-footer---typeset", target: "#page-footer", type: "dropdown", js:true }
// tweak: { category: "Page Footer", label: "Palette", default: "Alternate", options: ["Main", "Banner", "Alternate"], title: "page-footer---palette", target: "#page-footer", type: "dropdown", js:true }


// tweak: { category: "Footer", label: "Typography", default: "Alternate", options: ["Main", "Banner", "Alternate"], title: "footer---typeset", target: "#footer", type: "dropdown", js:true }
// tweak: { category: "Footer", label: "Palette", default: "Alternate", options: ["Main", "Banner", "Alternate"], title: "footer---palette", target: "#footer", type: "dropdown", js:true }
// tweak: { category: "Footer", label: "Navigation Align", default: "Center", options: ["Left", "Right", "Center", "Space Around", "Space Between"], title: "footer--navigation---align", target: "#footer .secondary-nav", type: "dropdown", js:true }
// tweak: { category: "Footer", label: "Navigation Folder", default: "DropUp", options: ["DropUp", "Visible"], title: "footer--navigation---folder", target: "#footer .secondary-nav", showOnlyWhenPresent: "#footer .secondary-nav .folder", type: "dropdown", js:true }
// tweak: { category: "Footer", label: "Width", default: "Full", options: ["Full", "Main"], title: "footer--content---layout-width", target: "#footer", type: "dropdown", js:true }
// tweak: { category: "Footer", label: "Spacing", default: "None Flexible", options: ["Flexible", "None Flexible", "Fixed Flexible"], title: "footer--content---layout-spacing", target: "#footer", type: "dropdown", js:true }


.sqs-ss-badge[data-position="bottom-right"] {
  right: @mainSpacing;
  bottom: @mainSpacing;
}

.sqs-ss-badge[data-position="bottom-left"] {
	left: @mainSpacing;
	bottom: @mainSpacing;
}


.site-phone,
.site-email{
  white-space:nowrap;
}
.site-address + .site-phone,
.site-address + .site-email,
.site-phone + .site-email{
  margin-left:1em;
}

#footerBlocks:not(.empty){
  margin-top:1.5em;
}

.page-footer {
	.banner;
}