
[data-effect=pop] {
	margin-bottom: 1em;
	box-shadow: fade(@main-textColor, 14%) 0px 0px 3px;

	.transition(transform 0.2s ease-out) !important;
	opacity: 1 !important;
	img { opacity: 1 !important; }
	&:hover {
		.transform(scale(1.03));
	}
}

#products {
	.product-title {
		.heading3-font !important;
		[data-typeset=banner]	& { .banner-heading3-font !important; }
		[data-typeset=alternate]	& { .alt-heading3-font !important; }

		color: @main-headingColor !important;
		[data-palette=banner]	& { color: @banner-headingColor !important; }
		[data-palette=alternate]	& { color: @alt-headingColor !important; }
	}

	.product-price {
		.body-font !important;
		[data-typeset=banner]	& { .banner-body-font !important; }
		[data-typeset=alternate]	& { .alt-body-font !important; }

		color: @main-metaColor !important;
		[data-palette=banner]	& { color: @banner-metaColor !important; }
		[data-palette=alternate]	& { color: @alt-metaColor !important; }
	}	
}
