// tweak: { title: "Header - Palette", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Display", options: ["", "Overlaid"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Sticky", options: ["", "Within Site", "After Banner" ], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Direction", options: ["", "Reverse"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Block - Display", options: ["", "Hide"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Slidebar - Display", options: ["", "Hide"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Display", options: ["", "Hide", "Auto"], default: "", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Align", options: ["Left", "Right", "Center", "Space Around", "Space Between"], default: "Right", showOnlyWhenPresent: "body:not(.header--nav---display-hide)", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Active", options: ["None", "Contrast", "Underline"], default: "Contrast", showOnlyWhenPresent: "body:not(.header--nav---display-hide)", category: "Header", type: "dropdown", js:true }


// tweak: { title: "Banner - Typeset", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner - Palette", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner - Display", options: ["", "Hide", "Overlaid"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Image - Parallax", options: ["","Enable"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks - Display", options: ["","Hide"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks  Content - Layout", options: ["", "Main", "Banner", "Alternate"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks  Content - Parallax", options: ["","Enable"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks  Content - Italic", options: ["", "Dash", "Highlight"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description - Display", options: ["", "Hide", "Overlaid", "Overlaid Caption"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Layout", options: ["", "Main", "Banner", "Alternate"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Parallax", options: ["","Enable"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Align", options: ["Center", "Left", "Right", "Bottom Left"], default: "Center", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Italic", options: ["", "Dash", "Highlight"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Button", options: ["", "Outline", "Overlay"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Button Corner", options: ["", "Square", "Rounded", "Pill"], default: "", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Title - Display", options: ["","Hide"], default: "", category: "Banner", type: "dropdown", js:true }

// tweak: { title: "Gallery - Palette", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Gallery", type: "dropdown", js:true }
// tweak: { title: "Gallery  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Gallery", type: "dropdown", js:true }

// tweak: { title: "Page - Palette", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Page", type: "dropdown", js:true }
// tweak: { title: "Page  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Page", type: "dropdown", js:true }
// tweak: { title: "Page  Content - Italic", options: ["", "Dash", "Highlight"], default: "", category: "Page", type: "dropdown", js:true }

// tweak: { title: "Categories - Sticky", options: ["","Within Site"], default: "", category: "Main", type: "dropdown", js:true }


// tweak: { title: "Page Footer - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer - Display", options: ["", "Hide", "Overlaid"], default: "", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Content - Sticky", options: ["","Within Site Bottom"], default: "", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Image - Parallax", options: ["","Enable"], default: "", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Blocks - Background", options: ["", "Solid", "Transparent", "Translucent"], default: "", category: "Page Footer", type: "dropdown", js:true }

// tweak: { title: "Footer - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer - Display", options: [ "", "Hide"], default: "", category: "Footer", type: "dropdown", js:true }


/* Mobile first
***************************************************/

// Site

/*#site {
  position: relative;
  padding: 0;
  margin: 0 auto;
  .border-box;
}
*/

[role] { /* Make them stack */
  position: relative;
  z-index: 1;
}

[role="complementary"] { /* Make prefooter go under by default */
  z-index: 0;
}

/*img {
  -webkit-transform: scale(1);
  opacity: 1;
  .transition(~"opacity 0.3s ease-out, -webkit-transform 0.3s ease-out");
  &.loading {
    -webkit-transform: scale(0.94);
    opacity: 0;
  }
}

*/


