// tweak: { title: "Header - Palette", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Display", options: ["Normal", "Overlaid"], default: "Normal", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Background", options: ["Normal", "Transparent", "Translucent"], default: "Normal", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Sticky", options: ["Disable", "Enable"], default: "Disable", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Direction", options: ["Normal", "Reverse"], default: "Normal", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Nav", options: ["Show", "Hide", "Auto"], default: "Auto", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Block", options: ["Show", "Hide"], default: "Hide", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header - Slidebar", options: ["Show", "Hide", "Auto"], default: "Auto", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Align", options: ["Left", "Right", "Center", "Space Around", "Space Between"], default: "Right", showOnlyWhenPresent: "body.header---navigation-normal", category: "Header", type: "dropdown", js:true }
// tweak: { title: "Header  Nav - Active", options: ["None", "Contrast", "Underline"], default: "Contrast", showOnlyWhenPresent: "body.header---navigation-normal", category: "Header", type: "dropdown", js:true }


// tweak: { title: "Banner - Typeset", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner - Palette", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner - Background", options: ["Normal", "Transparent", "Translucent"], default: "Normal", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Image - Parallax", options: ["Disable","Enable"], default: "Disable", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks - Display", options: ["Hide", "Show"], default: "Show", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks - Background", options: ["Normal", "Transparent", "Translucent"], default: "Transparent", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Banner", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Blocks  Content - Parallax", options: ["Disable","Enable"], default: "Disable", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description - Display", options: ["Hide", "Show", "Overlaid", "Overlaid Caption"], default: "Show", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description - Background", options: ["Normal", "Transparent", "Translucent"], default: "Transparent", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Background", options: ["Normal", "Transparent", "Translucent"], default: "Transparent", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Parallax", options: ["Disable","Enable"], default: "Disable", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Align", options: ["Center", "Left", "Right", "Bottom Left"], default: "Center", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Italic", options: ["Normal", "Dash"], default: "Dash", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Button", options: ["Solid", "Outline", "Overlay"], default: "Outline", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Content - Button Corner", options: ["Square", "Rounded", "Pill"], default: "Rounded", category: "Banner", type: "dropdown", js:true }
// tweak: { title: "Banner  Description  Title - Display", options: ["Show","Hide"], default: "Show", category: "Banner", type: "dropdown", js:true }

// tweak: { title: "Gallery - Layout", options: ["Main", "Banner", "Alternate"], default: "Banner", js: true, category: "Site", type: "dropdown" }
// tweak: { title: "Products - Layout", options: ["Main", "Banner", "Alternate"], default: "Banner", js: true, category: "Site", type: "dropdown" }

// tweak: { title: "Footer - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Footer", type: "dropdown", js:true }
// tweak: { title: "Footer - Display", options: ["Hide", "Show"], default: "Show", category: "Footer", type: "dropdown", js:true }

// tweak: { title: "Page Footer - Palette", options: ["Main", "Banner", "Alternate"], default: "Alternate", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Content - Layout", options: ["Main", "Banner", "Alternate"], default: "Main", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer  Content - Sticky", options: ["Disable","Enable"], default: "Disable", category: "Page Footer", type: "dropdown", js:true }
// tweak: { title: "Page Footer - Display", options: ["Hide", "Show"], default: "Show", category: "Page Footer", type: "dropdown", js:true }


/* Mobile first
***************************************************/

// Site

/*#site {
  position: relative;
  padding: 0;
  margin: 0 auto;
  .border-box;
}
*/

[role="banner"], [role="main"], [role="contentinfo"] { 
  position: relative;
  z-index: 1;
}

[role="header"] {
  position: relative;
  z-index: 2;
}


/*img {
  -webkit-transform: scale(1);
  opacity: 1;
  .transition(~"opacity 0.3s ease-out, -webkit-transform 0.3s ease-out");
  &.loading {
    -webkit-transform: scale(0.94);
    opacity: 0;
  }
}

*/


