
#slidebar-nav {
  position: fixed;
  width: 260px;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  line-height: 1em;
  text-align: left;
  overflow: auto;
  visibility: hidden;

  .colors(@textColor, @bgColor) {
    .background-color(@textColor);
    .navigation > div {
      a, label { color: @bgColor; }
    }
  }

  .colors(@main-textColor, @main-bgColor);
  [data-palette=banner] & { .colors(@banner-textColor, @banner-bgColor) }
  [data-palette=alternate] & { .colors(@alt-textColor, @alt-bgColor) }

  .transform(translate3d(260px,0,0));
  .transition2(height 0s 0.14s linear, visibility 0s 0.14s linear);
}  

// fixes checkbox hack for android < 4.1.2
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}
.mobile-nav-enabled .slidebar .body-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
    cursor: e-resize;
    .transform(translatex(-260px) translatez(0));
}

.mobile-nav-toggle-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 22px;
  height: 16px;

  color: @main-textColor;
  [data-palette=alternate] & { color: @alt-textColor }
  [data-palette=banner] & { color: @banner-textColor }

  .top-bar,
  .middle-bar,
  .bottom-bar {
    width: 22px;
    height: 2px;

    background-color: @main-textColor;
    [data-palette=alternate] & { background-color: @alt-textColor }
    [data-palette=banner] & { background-color: @banner-textColor }

    .transition(transform 0.1s ease-in-out);
    position: absolute;
    top: 0;
    right: 0;
  }
  .middle-bar {
    .transition(opacity 0s 0.15s linear);
    top: 7px;
  }
  .bottom-bar {
    top: 14px;
  }
}


#site {
  .transition(transform 0.2s ease-in-out);
}

.mobile-nav-enabled {
  #site {
    .transform(translate3d(-260px,0,0));
    .mobile-nav-toggle-label {
      .top-bar,
      .bottom-bar {
        .transition2(top 0.1s 0.1s ease-in-out, transform 0.1s 0.2s ease-in-out);
      }
      .top-bar {
        .transform(rotate(45deg));
        top: 7px;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        .transform(rotate(-45deg));
        top: 7px;
      }
    }
  }

  #slidebar-nav {
    height: 100%;
    visibility: visible;
    .transition2(height 0s 0.14s linear, visibility 0s 0s linear);
  }
}


@media only screen and (min-width: 641px) {
  .sqs-style-mode.dialog-open #mobileNavToggle:checked {
    ~ #site {
      .transform(translate3d(-480px, 0, 0));
    }
  }
}

[data-direction=reverse] #slidebar-nav {
  right: auto;
  left: 0;
  .transform(translate3d(-260px,0,0));
}
body.header---direction-reverse.mobile-nav-enabled { /* Cannot find a cleaner way */
  #site, .slidebar .body-overlay { .transform(translate3d(260px,0,0));  }
}