
.js-sticky-container {

	@zIndexBase: 100;

	&:not(.js-sticky-enabled):not(.js-sticky-end) {
		height: auto !important;

		.js-sticky-wrapper {
			width: auto !important;
		}
	}

	&.js-sticky-enabled .js-sticky-wrapper {
		position: fixed;
		top: 0;
		z-index: @zIndexBase + 1;

		[data-sticky]:not([data-behavior=transparent]) {
			box-shadow: 0 0 1px rgba(0,0,0,0.15);	
		}
	}

	&.js-sticky-end .js-sticky-wrapper {
		position: absolute;
		bottom: 0;
	}
	
}
