/* Layout variables */

// tweak: { category: "Layout", title: "Main Width", min: 500, max: 1500, step: 50, target: "div[data-layout-width=main]", type: "value" }
@mainContentWidth: 1100px;

// tweak: { category: "Layout", title: "Meta Width", min: 10, max: 50, step: 2, target: "div[data-layout-width=meta]", type: "value" }
@metaWidth: 400px;


// tweak: { category: "Layout", title: "Flexible Spacing", min: 0, max: 20, step: 1, target: "div[data-layout-spacing=regular]", type: "value" }
@mainSpacing: 5%;

// tweak: { category: "Layout", title: "Fixed Spacing", min: 0, max: 100, step: 5, target: "div[data-layout-spacing=alternate]", type: "value" }
@altSpacing: 17px;


body {
  opacity: 0;
  .transition(opacity 0.2s);

  &.loaded {
    opacity: 1;
  }
}

[role] { /* Make them stack */
  position: relative;
  z-index: 1;
}

[role="complementary"] { /* Make prefooter go under by default */
  z-index: 0;
}

.layout-width-main, [data-layout-width=main] {
  width: @mainContentWidth;
  .border-box;
  max-width: 100%;
  margin: auto; /* default is center */
  padding: @mainSpacing; /* default is mainSpacing */
}

.layout-width-meta, [data-layout-width=meta] {
  width: @metaWidth;
  .border-box;
  max-width: 100%;
  padding: @mainSpacing; /* default is mainSpacing */

  @media screen and (max-width: 600px) {
    width: auto;
  }
}

.layout-width-full {
  width: 100%;
  .border-box;
  padding: 0;
}

[data-layout=absolute], .layout-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;  
}

.layout-spacing-none, #site [data-layout-spacing^=none] { .border-box; padding: 0; }
.layout-spacing-flexible, #site [data-layout-spacing^=flexible] { .border-box; padding: @mainSpacing; }
.layout-spacing-fixed, #site [data-layout-spacing^=fixed] { .border-box; padding: @altSpacing; }

.layout-spacing-flexible-fixed, #site [data-layout-spacing^=flexible-fixed] { .border-box; padding: @mainSpacing @altSpacing; }
.layout-spacing-flexible-none, #site [data-layout-spacing^=flexible-none] { .border-box; padding: @mainSpacing 0; }
.layout-spacing-none-flexible, #site [data-layout-spacing^=none-flexible] { .border-box; padding: 0 @mainSpacing; }
.layout-spacing-none-fixed, #site [data-layout-spacing^=none-fixed] { .border-box; padding: 0 @altSpacing; }
.layout-spacing-fixed-flexible, #site [data-layout-spacing^=fixed-flexible] { .border-box; padding: @altSpacing @mainSpacing; }
.layout-spacing-fixed-none, #site [data-layout-spacing^=fixed-none] { .border-box; padding: @altSpacing 0; }

.layout-spacing-minus-top, #site [data-layout-spacing$=minus-top] { .border-box; padding-top: 0; }
.layout-spacing-minus-bottom, #site [data-layout-spacing$=minus-bottom] { .border-box; padding-bottom: 0; }
.layout-spacing-minus-left, #site [data-layout-spacing$=minus-left] { .border-box; padding-left: 0; }
.layout-spacing-minus-right, #site [data-layout-spacing$=minus-right] { .border-box; padding-right: 0; }


[data-layout-align=center] { margin: auto; }
[data-layout-align=left] { margin-left: 0; }
[data-layout-align=right] {  margin-right: 0; }

[data-text-align=center] { text-align: center; }

.align-center, [data-align] {
  .flex-box;
  .flex-align-items(center);
  .flex-justify-content(center);
  text-align: center;
}

[data-align-overflow=wrap] { .flex-wrap(wrap); }
[data-align-overflow=truncate] { 
  > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.align-left, [data-align*=left] { .flex-justify-content(flex-start); text-align: left; }
.align-right, [data-align*=right] { .flex-justify-content(flex-end); text-align: right; }
.align-top, [data-align*=top] { .flex-align-items(flex-start); }
.align-bottom, [data-align*=bottom] { .flex-align-items(flex-end); }

.align-space-around, [data-align*=space-around] { .flex-justify-content(space-around); }
.align-space-between, [data-align*=space-between] { .flex-justify-content(space-between); }
.align-space-entire, [data-align*=space-entire] { > * { width: 100%; } }

.align-viewport, [data-align*=viewport] { height: 100vh; }
.align-parent, [data-align*=parent] { height: 100%; }

[data-display=hide] {
  display: none !important;
}

[data-display=overlaid] {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3; 
  /*pointer-events: none;  Allow clicks to pass through to bottom layer */
}

[data-display=overlaid-caption] { /* Triggers caption positioning */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  z-index: 2; 

  .sqs-layout & {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 890 !important; 
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    height: 100% !important;
  }
}

[data-layout=absolute], .layout-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;  
}
