/* Layout variables */
@sitePadding: 5%;

// tweak: { category: 'Main - Layout', "title" : "Content Width", "type" : "value", "target" : "#content" }
@mainContentWidth: 1100px;

// tweak: { category: 'Main - Layout', "title" : "Meta Width", "type" : "value", "target" : "#content .meta" }
@mainMetaWidth: 400px;

// tweak: { category: 'Main - Layout', "title" : "Spacing - Side", "type" : "value", "target" : "#content" }
@mainSpacingSide: 5%;

// tweak: { category: 'Main - Layout', "title" : "Spacing - Top", "type" : "value", "target" : "#content" }
@mainSpacingTop: 5%;


// tweak: { category: 'Banner - Layout', "title" : "Content Width", "type" : "value", "target" : "#banner" }
@bannerContentWidth: 100%;

// tweak: { category: 'Banner - Layout', "title" : "Meta Width", "type" : "value", "target" : "#banner .meta" }
@bannerMetaWidth: 100%;

// tweak: { category: 'Banner - Layout', "title" : "Spacing - Side", "type" : "value", "target" : "#banner" }
@bannerSpacingSide: 0;

// tweak: { category: 'Banner - Layout', "title" : "Spacing - Top", "type" : "value", "target" : "#banner" }
@bannerSpacingTop: 0;


// tweak: { category: 'Alternate - Layout', "title" : "Content Width", "type" : "value", "target" : "#content" }
@altContentWidth: 100%;

// tweak: { category: 'Alternate - Layout', "title" : "Meta Width", "type" : "value", "target" : "#content .meta" }
@altMetaWidth: 40%;

// tweak: { category: 'Alternate - Layout', "title" : "Spacing - Side", "type" : "value", "target" : "#content" }
@altSpacingSide: 5%;

// tweak: { category: 'Alternate - Layout', "title" : "Spacing - Top", "type" : "value", "target" : "#content" }
@altSpacingTop: 5%;



// tweak: { category: "Index - 1", title: "Index 1 Banner - Layout", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Banner", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Banner - Palette", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Banner", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Banner - Typeset", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Banner", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Banner - Effect", type: "dropdown", options: ["None", "Parallax", "Sticky"], default: "None", js: true }

// tweak: { category: "Index - 1", title: "Index 1 Content - Layout", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Main", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Content - Palette", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Main", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Content - Typeset", type: "dropdown", options: ["Main", "Banner", "Alternate"], default: "Main", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Content - Effect", type: "dropdown", options: ["None", "Parallax", "Sticky"], default: "None", js: true }

// tweak: { category: "Index - 1", title: "Index 1 Gallery - Layout", type: "dropdown", options: ["Full", "Scroll", "Slide"], default: "Full", js: true }
// tweak: { category: "Index - 1", title: "Index 1 Gallery - Meta", type: "dropdown", options: ["None", "Side", "Overlay"], default: "None", showOnlyWhenPresent: ".index-1-gallery-full", js: true }


[data-layout=main] {
  width: @mainContentWidth;
  padding: @mainSpacingTop @mainSpacingSide;
  max-width: 100%;
  .border-box;
  margin: auto;
}

[data-layout=alternate] {
  padding: @altSpacingTop @altSpacingSide;
  width: @altContentWidth;
  max-width: 100%;
  .border-box;
  margin: auto;
}

[data-layout=banner] {
  padding: @bannerSpacingTop @bannerSpacingSide;
  width: @bannerContentWidth;
  max-width: 100%;
  .border-box;
  margin: auto;
}

[data-display=hide] {
  display: none;
}

[data-display=overlaid] {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 890; /* Above system block galleries */
  margin: auto;
}