//tweak: { "type" : "color", "title" : "Site Title Color", "category" : "Site Header", "showOnlyWhenPresent" : "#siteTitle", "target" : "#siteTitle" }
@siteTitleColor: #000;


//tweak: { "type" : "color", "title" : "Page Background", "category" : "Main - Palette", "target" : "#site" }
@main-bgColor: #f3efee;

//tweak: { "type" : "color", "title" : "Page Text Color", "category" : "Main - Palette", "target" : "body" }
@main-textColor: #000;

//tweak: { "type" : "color", "title" : "Page Link Color", "category" : "Main - Palette", "target" : "a" }
@main-linkColor: #000;

//tweak: { "type" : "color", "title" : "Page Meta Color", "category" : "Main - Palette", "target" : ".meta" }
@main-metaColor: #666666;

//tweak: { "type" : "color", "title" : "Heading Color", "category" : "Main - Palette", "target" : "h1, .entry-title" }
@main-headingColor: #111;



//tweak: { "type" : "color", "title" : "Text Color", "category" : "Alternate - Palette", "target" : "body" }
@alt-textColor: #fff;

//tweak: { "type" : "color", "title" : "Background", "category" : "Alternate - Palette", "target" : "body" }
@alt-bgColor: rgb(16,17,19);

//tweak: { "type" : "color", "title" : "Link Color", "category" : "Alternate - Palette", "target" : "body" }
@alt-linkColor: #fefefe;

//tweak: { "type" : "color", "title" : "Heading Color", "category" : "Alternate - Palette", "target" : "body" }
@alt-headingColor: @alt-textColor;

//tweak: { "type" : "color", "title" : "Meta Color", "category" : "Alternate - Palette", "target" : "body" }
@alt-metaColor: @alt-textColor;



//tweak: { "type" : "color", "title" : "Text Color", "category" : "Banner - Palette", "target" : "body" }
@banner-textColor: rgb(16,17,19); 

//tweak: { "type" : "color", "title" : "Background Color", "category" : "Banner - Palette", "target" : "body" }
@banner-bgColor: #fff;

//tweak: { "type" : "color", "title" : "Heading Color", "category" : "Banner - Palette", "target" : "body" }
@banner-headingColor: rgb(16,17,19);

//tweak: { "type" : "color", "title" : "Link Color", "category" : "Banner - Palette", "target" : "body" }
@banner-linkColor: #ededed; /* #181818 */

//tweak: { "type" : "color", "title" : "Meta Color", "category" : "Banner - Palette", "target" : "body" }
@banner-metaColor: rgb(16,17,19);


