//tweak: { "type" : "color", "label" : "Site Title Color", "category" : "Site Header", "showOnlyWhenPresent" : "#siteTitle", "target" : "#siteTitle" }
@siteTitleColor: #000;


//tweak: { "type" : "color", "label" : "Background", "category" : "Palette: Main", "target" : "body" }
@main-bgColor: #fff;

//tweak: { "type" : "color", "label" : "Text", "category" : "Palette: Main", "target" : "p" }
@main-textColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Link", "category" : "Palette: Main", "target" : "a" }
@main-linkColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Heading", "category" : "Palette: Main", "target" : "h1,h2" }
@main-headingColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Meta", "category" : "Palette: Main", "target" : "h3,.meta" }
@main-metaColor: rgb(16,17,19);


//tweak: { "type" : "color", "label" : "Background", "category" : "Palette: Alternate", "target" : "div[data-palette=alternate]" }
@alt-bgColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Text", "category" : "Palette: Alternate", "target" : "div[data-palette=alternate] p" }
@alt-textColor: #fff;

//tweak: { "type" : "color", "label" : "Link", "category" : "Palette: Alternate", "target" : "div[data-palette=alternate] a" }
@alt-linkColor: #fff;

//tweak: { "type" : "color", "label" : "Heading", "category" : "Palette: Alternate", "target" : "div[data-palette=alternate] h1, div[data-palette=alternate] h2" }
@alt-headingColor: #fff;

//tweak: { "type" : "color", "label" : "Meta", "category" : "Palette: Alternate", "target" : "div[data-palette=alternate] h3" }
@alt-metaColor: #fff;


//tweak: { "type" : "color", "label" : "Background", "category" : "Palette: Banner", "target" : "div[data-palette=banner]" }
@banner-bgColor: #fff;

//tweak: { "type" : "color", "label" : "Text", "category" : "Palette: Banner", "target" : "div[data-palette=banner] p" }
@banner-textColor: rgb(16,17,19); 

//tweak: { "type" : "color", "label" : "Link", "category" : "Palette: Banner", "target" : "div[data-palette=banner] a" }
@banner-linkColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Heading", "category" : "Palette: Banner", "target" : "div[data-palette=banner] h1, div[data-palette=banner] h2" }
@banner-headingColor: rgb(16,17,19);

//tweak: { "type" : "color", "label" : "Meta", "category" : "Palette: Banner", "target" : "div[data-palette=banner] h3" }
@banner-metaColor: rgb(16,17,19);


body, [data-palette=main] { /* Default */
	color: @main-textColor;
	.background-color(@main-bgColor);
	h1,h2 {
		color: @main-headingColor;
	}
	h3 {
		color: @main-metaColor;
	}
	a {
		color: @main-linkColor;
	}
}

[data-palette=alternate] {
	color: @alt-textColor;
	.background-color(@alt-bgColor);
	h1,h2 {
		color: @alt-headingColor;
	}
	h3 {
		color: @alt-metaColor;
	}
	a {
		color: @alt-linkColor;
	}
}

[data-palette=banner] {
	color: @banner-textColor;
	.background-color(@banner-bgColor);
	h1,h2 {
		color: @banner-headingColor;
	}
	h3 {
		color: @banner-metaColor;
	}
	a {
		color: @banner-linkColor;
	}
}

[data-background=solid] {
  [data-palette=main] & { .background-color(@main-bgColor) }
  [data-palette=alternate] & { .background-color(@alt-bgColor) }
  [data-palette=banner] & { .background-color(@banner-bgColor) }
}

[data-background=translucent] {
  &[data-palette=main], [data-palette=main] & { .background-color(fade(@main-bgColor,60%)) }
  &[data-palette=alternate], [data-palette=alternate] & { .background-color(fade(@alt-bgColor,60%)) }
  &[data-palette=banner], [data-palette=banner] & { .background-color(fade(@banner-bgColor,60%)) }
}

[data-background=transparent] {
  background: transparent !important;
}
