//tweak: { "type" : "font", "title" : "Site Title Font", "category" : "Site Header", "showOnlyWhenPresent" : "#siteTitle", "target" : "#siteTitle", "loadAllVariants" : "true" }
.site-title-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

//tweak: { "type" : "font", "title" : "Nav Link Font", "category" : "Site Navigation", "target" : "body:not(.force-mobile-nav) #mainNavWrapper, #sidecarNav" }
.nav-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

//tweak: { "type" : "font", "title" : "Page Text Font", "category" : "Main Content", "target" : "body:not(.collection-type-index) #content p, .collection-type-index .page-content p", "loadAllVariants" : "true" }
.body-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

//tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Main Content", "target" : "body:not(.collection-type-index) #content h1, .collection-type-index .page-content h1, .entry-title" }
.heading1-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

//tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Main Content", "target" : "body:not(.collection-type-index) #content h2, .collection-type-index .page-content h2" }
.heading2-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

//tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Main Content", "target" : "body:not(.collection-type-index) #content h3, .collection-type-index .page-content h3" }
.heading3-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

//tweak: { "type" : "font", "title" : "Quote Font", "category" : "Main Content", "target" : ".quote-block", "showOnlyWhenPresent" : ".quote-block" }
.quote-font {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.65em;
}

//tweak: { "category": "Sidebar", "title": "Sub Nav Title Font", "type": "font", "showOnlyWhenPresent": ".collection-type-page:not(.hide-page-sidebar):not(.hide-sidebar-title) .folder-nav, .collection-type-products:not(.hide-products-sidebar):not(.hide-sidebar-title) .category-nav", "target": "#page, nav.folder-nav, nav.category-nav" }
.subnav-title-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

//tweak: { "category": "Sidebar", "title": "Sub Nav Link Font", "type": "font", "showOnlyWhenPresent": ".collection-type-page:not(.hide-page-sidebar) .folder-nav, .collection-type-products:not(.hide-products-sidebar) .category-nav", "target": "#page, nav.folder-nav, nav.category-nav" }
.subnav-link-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}



.font-developers {
  font-family: 'Gotham Ssm A','Gotham Ssm B';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;

  .h1-mixin() {
    font-family: 'Gotham A','Gotham B';
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    margin: 0.67em 0;

    @media (min-width: 768px)  {
      font-size: 42px;
      line-height: 50px;
    }
  }

  h1 { .h1-mixin; }

  h2 {
    font-family: 'Gotham A','Gotham B';
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    @media (min-width: 768px)  {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h3 {
    font-family: 'Gotham A','Gotham B';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    @media (min-width: 768px)  {
      font-size: 20px;
      line-height: 28px;
    }    
  }

  .content-description > p {
    > strong,
    > em > strong {
      .h1-mixin;
    }
  }

  .sqs-block-button-element {
    font-family: 'Gotham Ssm A','Gotham Ssm B';
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;

  }

  .fa {
    display: block;
    text-align: center;
    font-size: 100px;
  }
}

.font-hero {
  font-family: 'Gotham Ssm A','Gotham Ssm B';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;

  @media (min-width: 768px)  {
    font-size: 20px;
    line-height: 28px;
  }

  .h1-mixin() {
    font-family: 'Gotham A','Gotham B';
    font-weight: 300;

    font-size: 42px;
    line-height: 50px;
    margin: 0;

    @media (min-width: 768px)  {
      font-size: 60px;
      line-height: 68px;
    }

    @media (min-width: 1024px) {
      font-weight: 100;
      font-size: 84px;
      line-height: 92px;
    }
  }

  h1 { .h1-mixin; }
  h2 {
    font-family: 'Gotham A','Gotham B';
    font-weight: 300;

    font-size: 42px;
    line-height: 50px;
  }

  p {
    margin: 0;
  }
  
  .content-description > p {
    > strong,
    > em > strong {
      .h1-mixin;
    }
  }

}

.font-opensans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;

  @media (min-width: 992px) {
    font-size: 24px;
  }

  .h1-mixin() {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;

    @media (min-width: 992px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  h1 { .h1-mixin; }

  .content-description > p:first-child strong {
    .h1-mixin;
  }

}
