//tweak: { "type" : "font", "title" : "Site Title Font", "category" : "Header", "showOnlyWhenPresent" : "#siteTitle", "target" : "#siteTitle" }
.site-title-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

//tweak: { "type" : "font", "title" : "Nav Link Font", "category" : "Header", "target" : "body:not(.force-mobile-nav) #mainNavWrapper, #slidebar-nav" }
.nav-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

//tweak: { "type" : "font", "title" : "Text Font", "category" : "Main - Typeset", "target" : "body" }
.body-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

//tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Main - Typeset", "target" : "h1, .entry-title" }
.heading1-font {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

//tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Main - Typeset", "target" : "h2" }
.heading2-font {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

//tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Main - Typeset", "target" : "h3" }
.heading3-font {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.6em;
}

//tweak: { "type" : "font", "title" : "Button Font", "category" : "Main - Typeset", "target" : ".button", "showOnlyWhenPresent" : ".button" }
.button-font {
  font-family: inherit;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; 
  padding: 1em 2em; 
  margin: 1em;
}

//tweak: { "type" : "font", "title" : "Quote Font", "category" : "Main - Typeset", "target" : ".quote-block", "showOnlyWhenPresent" : ".quote-block" }
.quote-font {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.65em;
}

//tweak: { "type" : "font", "title" : "Normal Text Font", "category" : "Alternate - Typeset", "target" : "body" }
.alt-body-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;  
  font-style: normal;
  letter-spacing: 0px;
}

//tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Alternate - Typeset", "target" : "h1, .entry-title" }
.alt-heading1-font {
  font-family: inherit;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  font-style: normal;
  letter-spacing: 0px;
}


//tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Alternate - Typeset", "target" : "h2" }
.alt-heading2-font {
  font-family: inherit;
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  font-style: normal;
  letter-spacing: 0px;
}

//tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Alternate - Typeset", "target" : "h3" }
.alt-heading3-font {
  font-family: inherit;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

//tweak: { "type" : "font", "title" : "Button Font", "category" : "Alternate - Typeset", "target" : ".button" }
.alt-button-font {
  font-family: inherit;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;  
  padding: 1em 2em; 
  margin: 1em;
}


//tweak: { "type" : "font", "title" : "Normal Text Font", "category" : "Banner - Typeset", "target" : "#banner", showOnlyWhenPresent: "#banner" }
.banner-body-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4em;
  font-style: normal;
  letter-spacing: 0.5px;
}

//tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Banner - Typeset", "target" : "#banner", showOnlyWhenPresent: "#banner" }
.banner-heading1-font {
  font-family: inherit;
  font-weight: 100;
  font-size: 84px;
  line-height: 1em;
  font-style: normal;
  letter-spacing: 0px;
}

//tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Banner - Typeset", "target" : "#banner", showOnlyWhenPresent: "#banner" }
.banner-heading2-font {
  font-family: inherit;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  font-style: normal;
  letter-spacing: 0px;
}

//tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Banner - Typeset", "target" : "#banner", showOnlyWhenPresent: "#banner" }
.banner-heading3-font {
  font-family: inherit;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

//tweak: { "type" : "font", "title" : "Button Font", "category" : "Banner - Typeset", "target" : ".button" }
.banner-button-font {
  font-family: inherit;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;  
  padding: 1em 2em; 
  margin: 1em;
}

/** Make font mixins responsive */
.alt-body-font-responsive {
  .alt-body-font;
  @media (max-width: 600px)  {
    font-size: @alt-body-font-font-size * 0.8;
  }
}
.alt-heading1-font-responsive() {
  .alt-heading1-font;
  @media (max-width: 600px)  {
    font-size: @alt-heading1-font-font-size * 0.67;
  }
}
.alt-heading2-font-responsive() {
  .alt-heading2-font;
  @media (max-width: 600px)  {
    font-size: @alt-heading2-font-font-size * 0.7;
  }
}
.banner-body-font-responsive() {
  .banner-body-font;
  @media (max-width: 600px)  {
    font-size: @banner-body-font-font-size * 0.8;
  }
}
.banner-heading1-font-responsive() {
  .banner-heading1-font;
  @media (max-width: 1200px) {
    font-size: @banner-heading1-font-font-size * 0.7;
  }  
  @media (max-width: 600px)  {
    font-size: @banner-heading1-font-font-size * 0.5;
    font-weight: lighter;
  }
}
.banner-heading2-font-responsive() {
  .banner-heading2-font;
  @media (max-width: 600px)  {
    font-size: @banner-heading2-font-font-size * 0.7;
  }
}


body, [data-typeset=main] { /* Default */
  .body-font;
  h1 { .heading1-font; }
  h2 { .heading2-font; }
  h3 { .heading3-font; }
}

[data-typeset=alternate] {
  .alt-body-font-responsive;
  h1 { .alt-heading1-font-responsive; }
  h2 { .alt-heading2-font-responsive; }
  h3 { .alt-heading3-font; }
}

[data-typeset=banner] {
  .banner-body-font-responsive;
  h1 { 
    .banner-heading1-font-responsive; 
    margin: 0; /* line height is more than enough */
  }
  h2 { 
    .banner-heading2-font-responsive; 
  }
  h3 {
    .banner-heading3-font;
  }
  p {
    margin: 0; /* Banners typically need minimal spacing */
  }  
}

